{% extends "layout.html" %} {% load static %} {% block body %}

<style>
    th {
        text-align: center;
    }
    
    td {
        text-align: center;
    }
</style>

<section class="grids-12" id="news">
    <div id="grids4-block" class="py-2">
        <div class="container py-md-5">
            <div class="row mt-2 pt-3">

                <div class="grids4-info col-lg-16 col-md-12 offset-lg-0 offset-md-3 mt-lg-0 mt-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Bidding Price</th>
                                <th scope="col">Winnig</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in details %}
                            <tr>
                                <th scope="row" style="text-align:center">{{ forloop.counter }}</th>
                                <td>{{ data.product.name }}</td>
                                <td>{{ data.Bid_prices }}</td>
                                <td>{{ data.product.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}