{% extends "layout.html" %} {% load static %} {% block body %}


<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<style>
    .button1 {
        background-color: #e91e63;
    }
    
    .button1:hover {
        background-color: #3f51b5;
    }
</style>

<section class="form-12" id="home">
    <div class="form-12-content">
        <div class="container">
            <div class="grid grid-column-3 ">
                <div class="column2"></div>
                <div class="column1 mb-3" style="height: 400px; padding:1ch;">
                    <h3 class="tagline mb-3 form-head" style="text-align: center;">Product Details</h3>

                        {% for data in details %}
                        <div style="float: left; width: 25%;padding-left: 200px;height: 500px;">
                            <div style="margin-top: 50px; padding-right: 100px;">
                                <img id="blah" src="{% static '../media/'%}{{data.images}}" width="250" height="250" class="rounded-circle" alt="your image" /></div>
                        </div>
                        
                        <div style="float: right; width: 60%;padding-left: 150px;height: 550px;">
							<div style="padding-top: 55px;">
							
							<div style=" padding: 5px; word-spacing: 5px;">
							Name:     {{data.name}}
							</div>
							<div style=" padding: 5px; word-spacing: 5px;">
							Expected Price:  {{data.min_price}}
							</div>
							<div style=" padding: 5px; word-spacing: 5px;">
							From:  {{data.from_city}}
							</div>
							<div style=" padding: 5px; word-spacing: 5px;">
							To:  {{data.to_city}}
							</div>
							<div style=" padding: 5px; word-spacing: 5px;">
							Weight:  {{data.weight}}
							</div>
                            <div style=" padding: 5px; word-spacing: 5px;">
                                Parcel Type:  {{data.parcel_type}}
                                </div>
						</div>
						</div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}